<html> 
<style>
  #myTextBox1 { margin-left: 40px; }
 </style> 
<body> 
    <h3>Startup Status Prediction</h3> 

<div> 
  <form action="/result" method="POST"> 
    <label for="funding_rounds">funding_rounds</label> 
    <input type="text" id="myTextBox1" name="funding_rounds"> 
    <br> 
    <label for="funding_total_usd">funding_total_usd</label> 
    <input type="text" id="myTextBox1" name="funding_total_usd"> 
    <br> 
    <label for="milestones">milestones </label> 
    <input type="text" id="milestones" name="milestones">btw:[1-9]
    <br>
    <label for="relationships">relationships </label> 
    <input type="text" id="relationships" name="relationships">btw:[1-1050]
    <br>
    <label for="lat">lat</label> 
    <input type="text" id="myTextBox1" name="lat"> 
    <br> 
    <label for="lng">lng</label> 
    <input type="text" id="myTextBox1" name="lng"> 
    <br> 
    <label for="founded_at_year">founded_at_year </label> 
    <input type="text" id="founded_at_year" name="founded_at_year">btw:[1906- 2013]
    <br>
    <label for="closed_at_year">closed_at_year </label> 
    <input type="text" id="closed_at_year" name="closed_at_year">btw:[2002- 2021]
    <br>
    <label for="first_funding_at_year">first_funding_at_year</label> 
    <input type="text" id="myTextBox1" name="first_funding_at_year"> 
    <br> 
    <label for="last_funding_at_year">last_funding_at_year</label> 
    <input type="text" id="myTextBox1" name="last_funding_at_year"> 
    <br> 
    <label for="first_milestone_at_year">first_milestone_at_year</label> 
    <input type="text" id="myTextBox1" name="first_milestone_at_year"> 
    <br> 
    <label for="last_milestone_at_year">last_milestone_at_year</label> 
    <input type="text" id="myTextBox1" name="last_milestone_at_year"> 
    <br> 
    <label for="category_code_enterprise">category_code_enterprise</label> 
    <select id="myTextBox1" name="category_code_enterprise"> 
      <option value="0">0</option> 
      <option value="1">1</option> 
    <select>
    <br>
    <label for="category_code_mobile">category_code_mobile</label> 
    <select id="myTextBox1" name="category_code_mobile"> 
      <option value="0">0</option> 
      <option value="1">1</option>
    <select>
    <br> 
    <label for="category_code_other">category_code_other</label> 
    <select id="myTextBox1" name="category_code_other"> 
      <option value="0">0</option> 
      <option value="1">1</option>
    <select>
    <br> 
    <label for="category_code_software">category_code_software</label> 
    <select id="myTextBox1" name="category_code_software"> 
      <option value="0">0</option> 
      <option value="1">1</option>
    <select>
    <br> 
    <label for="category_code_web">category_code_web</label> 
    <select id="myTextBox1" name="category_code_web"> 
      <option value="0">0</option> 
      <option value="1">1</option>
    <select>
    <br> 
    <label for="country_code_GBR">country_code_GBR</label> 
    <select id="myTextBox1" name="country_code_GBR"> 
      <option value="0">0</option> 
      <option value="1">1</option>
    <select>
    <br> 
    <label for="country_code_USA">country_code_USA</label> 
    <select id="myTextBox1" name="country_code_USA"> 
      <option value="0">0</option> 
      <option value="1">1</option>
    <select>
    <br>
    <label for="country_code_other">country_code_other</label> 
    <select id="myTextBox1" name="country_code_other"> 
      <option value="0">0</option> 
      <option value="1">1</option>
    <select>
    <br>  
    <label for="age_in_day">age_in_day</label> 
    <input type="text" id="myTextBox1" name="age_in_day"> 
    <br>   
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html> 